<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaskBarPlus.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TaskBarPlus.Settings>
            <setting name="RefreshRate" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RequireDoubleClick" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsGroupingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IconSize" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>16</value>
            </setting>
        </TaskBarPlus.Settings>
    </userSettings>
</configuration>